/Sesion3_Agosto/nbproject/private/
/Sesion5_Agosto/nbproject/private/
/Sesion5_Agosto/build/
/Tarea3/nbproject/private/
/Tarea3/build/
/Sesion5_Agosto/dist/
/Sesion_10deAgosto/nbproject/private/
/Sesion_10deAgosto/build/
/Sesion_12_agosto/nbproject/private/
/Sesion_12_agosto/build/
/Sesion_14_agosto/nbproject/private/
/Sesion_14_agosto/build/
/Libro/nbproject/private/
/Libro/build/
/tarea_17_agosto/nbproject/private/
/tarea_17_agosto/build/
/Sesion_17_agosto/nbproject/private/
/Sesion_17_agosto/build/
/Sesion_19_agosto/nbproject/private/
/tarea21_agosto/nbproject/private/
/tarea21_agosto/build/
/Sesion_21_agosto/nbproject/private/
/Sesion_21_agosto/build/